form ul {
    list-style-type: none;
}
body {
    text-align: center;
    background-color: #E8EDF7;
    width: 500px;
    margin: auto;
    background-image: url(../images/back.gif);
}
h1 {
    background-image: url(../images/logo.gif);
    background-position: left top;
    background-repeat: no-repeat;
    height: 123px;
}
form {
    text-align: left;
}
form ul li {
    padding: 10px;
}
form label {
    display: inline-block;
    width: 200px;
}
form div {
    color: RED;
}